{% for router in routers %}
!
! Configuration for {{ router.name }}
!
{% for interface in router.interfaces %}
interface {{ interface.name }}
 ip address {{ interface.ip }} {{ interface.mask }}
 no shutdown
{% endfor %}
{% endfor %}
