hostname {{host.hostname}}
no ip domain lookup
line con 0
logging synchronous
exit
interface Loopback0
ip address {{host.loopback_ip}} 255.255.255.255
no shutdown
interface GigabitEthernet1
no shutdown
{% for intf in host.interfaces %}
interface {{intf.name}}
encapsulation dot1Q {{intf.vlan}}
ip address {{intf.ip}} {{intf.mask}}
no shutdown
{% endfor %}
router rip
version 2
{% for network in host.rip_networks %}
network {{network}}
{% endfor %}
no auto-summary
exit
line vty 0 4
login local
transport input all
exit
